doctype html

html
	head
		title Index
		link(rel='stylesheet', href='/styles/standard.css')
		script(src='/scripts/tokenApp.js')
	body(onload='downloadToken()')
		p Twitch token received. You may now close this window.
